body{
    background-color: #fafafa;
}
.box{  
    
   border-radius: 10px;
    min-width: 360px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 46%;
    max-width: 420px;
    min-height: 500px;   
}
.imgUsu,.imgSen{
   
     width: 22px;
      height: 22px;
}












